@import 'tailwindcss';

@theme {
	--color-text-main: var(--text-main);
	--color-text-off: var(--text-off);
	--color-text-sub: var(--text-sub);
	--color-main-bg: var(--bg-main);
	--color-btn-primary-bg: var(--btn-primary-bg);
	--color-btn-secondary-bg: var(--btn-secondary-bg);
	--color-bg-hover: var(--bg-hover);
	--color-bg-bubble-user: var(--bg-bubble-user);
	--color-bg-bubble-ai: var(--bg-bubble-ai);
	--color-bg-border-main: var(--bg-border-main);
	--color-bg-border-off: var(--bg-border-off);
	--color-bg-border-sub: var(--bg-border-sub);

}

/* ブラウザやOSによる強制的な色反転・ハイコントラスト化を無効化 */
input,
div,
body {
	forced-color-adjust: none !important;
	color-scheme: only light !important;
}

:root {
	/* 基本テキスト */
	--text-main: #E3E3E3;

	/* オフのテキスト */
	--text-off: #e3e3e34d;

	/* サブのテキスト */
	--text-sub: #e3e3e3be;

	/* 基本背景色 */
	--bg-main: #131314;

	/* ボタン・浮き出し要素 (AIバブル含む) */
	--btn-primary-bg: #303030;

	/* セグメントのオフ色 */
	--btn-secondary-bg: #1d1d1d;

	/* ホバー色 */
	--bg-hover: #1f1f1f;

	/* ボーダーメイン */
	--bg-border-main: #e3e3e3a6;

	/* ボーダーオフ */
	--bg-border-off: #e3e3e323;

	/* ボーダーサブ */
	--bg-border-sub: #e3e3e359;

	/* ユーザーバブル */
	--bg-bubble-user: #133a0e;

	/* AIバブル */
	--bg-bubble-ai: #202020;
}

body {
	background-color: var(--c-bg-main);
	color: var(--c-text-main);
}

::view-transition-old(root) {
	animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(root) {
	animation: 210ms cubic-bezier(0, 0, 0.2, 1) both slide-up;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes slide-up {
	from {
		transform: translateY(5px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@utility no-scrollbar {
	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	scrollbar-width: none;
}